---
title: 예제 페이지 2
category: 예제
---
<!DOCTYPE html>
<html lang="ko">
<%- include('../include/head', { title: title }) %>
<body>
  <%- include('../include/header') %>
  
  <main>
    <h1><%= title %></h1>
    <p>또 다른 예제 페이지입니다.</p>
  </main>
  
  <%- include('../include/footer') %>
</body>
</html>
